.MainHeaderContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(125, 17, 17);
}

.logo {
    width: 200px;
    height: 200px;
}

.ul-callon {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
}

.ul-callon > li {
    color: white;
    font-size: ;
}

.register-block {
    display: flex;
}

.entrance {
    width: 160px;
    height: 30px;
    border-radius: 16px;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 3 3 3 rgb(6, 2, 83);
}

.registration {
    width: 160px;
    height: 30px;
    border-radius: 16px;
    background-color: rgb(70, 130, 173);
    color: white;
    border: none;
}