.MainHeaderContainer {
    display: flex;

}

.ul-callon {
    display: flex;
    list-style: none;
}

.register-block {
    display: flex;
}

.entrance {
    width: 160px;
    height: 30px;
    border-radius: 16px;
    background-color: blue;
    color: white;
    border: none;
}

.registration {
    width: 160px;
    height: 30px;
    border-radius: 16px;
    background-color: rgb(70, 70, 173);
    color: white;
    border: none;
}