.MainHeaderContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(125, 17, 17);
}

.logo {
    width: 100px;
    height: 100px;
}

.ul-callon {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
}

.ul-callon > li {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.register-block {
    display: flex;
    gap: 20px;
}

.entrance {
    width: 160px;
    height: 30px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0px 0px 16px 4px rgba(83,156,201,1);
    font-weight: bold;
}

.registration {
    width: 160px;
    height: 30px;
    border-radius: 16px;
    background-color: rgb(70, 130, 173);
    color: white;
    border: none;
}